
/* ----- HANNAH MERRILL ---------*/ 
/*------ FONTS ------------------*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');

/* CSS RESET 
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----Color Variables ---- */ 
:root{
    --apple:#d74452;
    --teal: #2d838d;
    --beige: #dad3b7;
    --orange: #db9f34;
    --dark-orange: #db8e36;
}

/* ---------- GLOBAL STYLES ---------- */
*{
    box-sizing: border-box;
    line-height: 1.30;
    font-family: 'Comfortaa', cursive;
}
/*-----------SKIP LINK----------------*/
#skip {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }
        
    #skip a:focus {
    position:static;
    width:auto;
    height:auto;
    }

/*-----------HERO STYLES------------*/

.herocontainer {
    position: relative;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: white;
}
.herocontainer h1, .herocontainer h2, .herocontainer p {
    font-weight: 700;
}
.herocontainer h2 {
    font-size: 3em;
}
.herocontainer p {
    padding: .5em;
}
.herocontainer img {
    filter: brightness(50%);
}
.herocontainer nav a {
    color: white;
    margin: 1em;
    text-decoration: none;
}
.herocontainer nav a:hover {
    font-weight: bold;
    font-size: 1.3em;
}
.herocontainer nav a:active {
    text-decoration: underline;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    padding-top: 2em;
  }
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    padding-top: 2em;
  }
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*-------BODY STYLES------*/
  main {
    margin: 1em;
    text-align: center;
  }
  main h2 {
    font-weight:700;
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: .5em;
  }
  main h3 {
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: .5em;
    margin-top: .5em;
  }
  main p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80ch;
    font-weight: 300;
  }
  main span {
    font-size: 1.5em;
  }

  /*-------- BOOKS SECTION-------*/

  #flex1container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  .flex1child {
    flex: 1 160px;
    padding: 1em;

}

.flexchild p {
    max-width: 8ch;
}
  

  /*-------- EVENTS SECTION-------*/
  #eventsbackground {
    background-color: var(--beige);
  }

  #flex2container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  .flex2child {
    flex: 1  250px;
    padding: 1em;
    text-align: left;
}
#eventsbackground h2 {
    padding-top: 1em;
}
button {
    padding: 15px;
    background-color: var(--teal);
    box-shadow: 2px 2px 2px var(--orange);
    border-radius: 25px;
    margin-top: 1em;
    width: 200px;
    text-decoration: none;
    color: white;
}

button:hover {
    border: 3px solid white;
}
address {
    margin-top: 1em;
}

/*----------- MEWSLETTER SECTION----------*/
.flex3container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
}
.flex3child {
  padding: 1em;
}
input {
    padding: .5em;
}
input[type="submit"] {
    margin: 1em;
    padding: 1em;
    background-color: var(--teal);
    color: white;
    box-shadow: 2px 2px 2px var(--orange);
    border-radius: 25px;
    width: 200px;
}